<div class="grid">
   
    <div class="col-12">
        <div class="card">
            <h1>Resumen de bonificaciones</h1>
            <div class="card">
                <p style="color:grey;">El {{viewComision.proDescripcion}} que acabas de vender te da una comisión de </p> <h2 style="color:rgb(243, 73, 5);">${{viewComision.comValor}}</h2>
            </div>
            <p-tabView>
                <p-tabPanel header="Pendientes" leftIcon="pi pi-calendar" tooltip="Productos">
                   <app-table-pendientes></app-table-pendientes>

                </p-tabPanel>
                <p-tabPanel header="Pagadas" leftIcon="pi pi-calendar" tooltip="1972">
                    <app-table-pagado></app-table-pagado>
                </p-tabPanel>
                <p-tabPanel header="Perfil" rightIcon="pi pi-inbox" tooltip="1974">
                    <app-perfil-cliente></app-perfil-cliente>
                </p-tabPanel>
                
            </p-tabView>
            </div>

        </div>
</div>
