<div class="grid">
    <div class="col-3">
        <app-menu></app-menu>
    </div>
    <div class="col-9">
        <div class="card">

            <p-tabView>
                
                <p-tabPanel header="Pagos" leftIcon="pi pi-calendar" tooltip="Clientes">
                    <app-pendientes></app-pendientes>

                </p-tabPanel>
                <p-tabPanel header="Historial" leftIcon="pi pi-calendar" tooltip="Clientes">
                    <app-historial></app-historial>

                </p-tabPanel>
            </p-tabView>
            </div>

        </div>
</div>