<div class="card">
  
    <div>
        
    <div class="card flex flex-column md:flex-row gap-3">
       <div >
    <p-autoComplete [(ngModel)]="selectedItem" [suggestions]="suggestions" (completeMethod)="search($event)">
        
    </p-autoComplete>
    </div>

       
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">$</span>
            <input type="text" pInputText placeholder="Valor a filtrar" 
                     [(ngModel)]="precioMinimo" 
                    />
            <span class="p-inputgroup-addon">.00</span>
        </div>

       <div class="p-inputgroup">
        
            <p-calendar [(ngModel)]="date" [showIcon]="true"></p-calendar>
       </div>
       <div class="p-inputgroup">
        
             <p-button label="Filtrar" icon="pi pi-filter"  (click)="filtrarValor()"></p-button>

        </div>
        <div class="p-inputgroup">
        
            <p-button label="Pagar" icon="pi pi-money-bill"  (click)="pagar()"></p-button>

       </div>
       <div class="p-inputgroup">
        
            <p-button label="Descargar" icon="pi pi-download"></p-button>

       </div>
    </div>
    </div>
    
    <p-table #dt1 [value]="pagosFiltrados" dataKey="id"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['usuNombre','sumValor','cliBanco']">
        <ng-template pTemplate="caption">
            <div class="flex">
               <h3>Comisiones pendientes de pago</h3>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
             
                
                <th style="min-width:10rem">
                    <div class="flex ">
                        <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox>
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex ">
                        Usuario
                        <p-columnFilter type="text" field="usuNombre" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex ">
                        Valor
                        <p-columnFilter type="text" field="sumValor" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th style="min-width:15rem">
                    <div class="flex ">
                        Información Bancaria
                        <p-columnFilter type="text" field="cliBanco" display="menu"></p-columnFilter>
                    </div>
                </th>
               
                             
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pagosFiltrados>
            <tr>
              
                <td>
                    <p-checkbox [(ngModel)]="pagosFiltrados.user_id" name="{{pagosFiltrados.user_id}}"  (change)="onCheckboxChange()" [binary]="true" inputId="{{pagosFiltrados.user_id}}" ></p-checkbox>
                </td>
                <td>
                    <a [routerLink]="['../ventasUsuario', pagosFiltrados.user_id, pagosFiltrados.user_nombre]" >
                        {{pagosFiltrados.usu_nombre}}    
                        </a> 
                    <br>
                    {{pagosFiltrados.user_email}} 
                </td>
                <td>
                    ${{pagosFiltrados.sum}}
                </td>
                <td>
                    {{pagosFiltrados.cli_banco}}
                    <br>
                    #{{pagosFiltrados.cli_num_cuenta}}
                </td>
               
                
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
               
                <td>TOTAL</td>
                <td>${{total}}</td>
                <td></td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No se encontraron productos</td>
            </tr>
        </ng-template>
    </p-table>
</div>
