<div class="card">
    <h5>Afiliados</h5>
    <p-table [value]="users" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [tableStyle]="{'min-width': '50rem'}"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:25%">Nombre</th>
                <th style="width:25%">Correo</th>
                <th style="width:25%">Total comisiones</th>
              
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-users>
            <tr>
                <td>{{users.user_email}}</td>
                <td>{{users.user_name}}</td>
                <td>{{users.sum }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>
