
<div class="flex-1 h-4rem  text-white font-bold text-center p-4 border-round"></div>
<div class="flex-1 h-4rem  text-white font-bold text-center p-4 border-round">
<div class="text-layout">
    <h1>Dashboard </h1>

   
</div>


<div class="grid">
    <div class="col ">
        <p-table [value]="heroes | ordenar ">
            <ng-template pTemplate="header">
                
                <iframe title="Report Section" width="1024" height="804" src="https://app.powerbi.com/view?r=eyJrIjoiYTM4NmI4MjItNjNjNC00NzYzLThkNTItYjE4NmQwMTU2ZjhiIiwidCI6ImMwNmZiNTU5LTFiNjgtNGI4NC1hMTRmLTQ3ZDBkODM3YTVhYiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              
            </ng-template>
        </p-table>
        
    </div>
</div>
</div>