<div class="grid">
    <div class="col-3">
        <app-menu></app-menu>
    </div>
    <div class="col-9">
        <div class="card">
            <h1>CODIGOS GENERADOS</h1>
            <p-tabView>
               
                <p-tabPanel header="Productos" leftIcon="pi pi-money-bill" rightIcon="pi pi-star-fill" tooltip="1990">
                    <div  class="e-card e-card-horizontal">
                    <p-card  [style]="{width: '150px'}" styleClass="p-card-shadow" class="e-card e-card-horizontal">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="../../../../assets/images/[B@1c1b3699.png">
                            
                            
                        </ng-template>
                            
                    </p-card>

                    <p-card  [style]="{width: '150px'}" styleClass="p-card-shadow" class="e-card e-card-horizontal">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="../../../../assets/images/[B@1b5e9793.png">
                            
                        </ng-template>
                            
                    </p-card>
                    
                    </div>
                </p-tabPanel>
            </p-tabView>
            </div>

        </div>
</div>
