<div class="card">
  
    <p-table #dt1 [value]="productos" dataKey="id"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['proDescripcion','proReferencia','proValor']">
        <ng-template pTemplate="caption">
            <div class="flex">
               <h3>Resumen de productos</h3>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:15rem">
                    <div class="flex ">
                        Producto
                        <p-columnFilter type="text" field="proDescripcion" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex ">
                        SKU
                        <p-columnFilter type="text" field="proReferencia" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex ">
                        Valor Comision
                        <p-columnFilter field="proValor" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            
                        </p-columnFilter>
                    </div>
                </th>
                             
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-producto>
            <tr>
                <td>
                    {{producto.proDescripcion}}
                </td>
                <td>
                    {{producto.proReferencia}}
                </td>
                <td>
                    {{producto.proValor}}               
                </td>
                <td>
                    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-outlined p-button-rounded p-button-primary"
                            (click)="delete(producto.proId)"></button>
                    <button pButton pRipple type="button" icon="pi pi-check" class="p-button-outlined p-button-rounded p-button-primary"
                            (click)="showModal(producto.proId)"></button>
                </td>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No se encontraron productos</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Editar productos" [(visible)]="displayModal">
    <!-- Contenido de la ventana modal -->
    <p>¡Puede modificar los siguientes elementos del producto!</p>
    <hr>
    <br>
    <tr>
        <th style="min-width:15rem">
            <div class="flex ">
                Producto  .
                <input type="text" style="border: 1px solid black;"  pInputText [(ngModel)]="nombre" />
            </div>
        </th>
        <th style="min-width:15rem">
            <div class="flex ">
                . Referencia .
                <input type="text" style="border: 1px solid black;" pInputText [(ngModel)]="referencia" />
            </div>
        </th>
        <th style="min-width:15rem">
            <div class="flex ">
                . Valor .
                <input type="text" style="border: 1px solid black;" pInputText [(ngModel)]="valor" />
            </div>
        </th>
                     
        
    </tr>
    <br>
   
    <p-button label="Actualizar" (click)="hideModal()"></p-button>
    
  </p-dialog>
