<p-menubar >
    
    <ng-template pTemplate="start">
        <img src="./assets/images/banner.png" alt="Image" width="100%" />
       
    </ng-template>
    <ng-template >
       

    </ng-template>
    <ng-template pTemplate="end">
       

    </ng-template>
</p-menubar>

<br>
<body>
<div class="card">
    <div class="flex card-container indigo-container">
        <div class="flex-1 h-4rem  text-white font-bold text-center p-4 border-round"></div>
        <div class="flex-1 h-4rem mx-4">
          <div style= "display: flex;">
            <p-card header="Registrate "  [style]="{ width: '460px', height: '400px'}">
                <ng-template pTemplate="header">
                    
                </ng-template>
                <p>
                    Puedes ingresar aqui, introducir tus datos, si perteneces a algun convenio y listo!!
                </p>
                <ng-template pTemplate="footer" >
                    <a [routerLink]="'/politica'" class="txt2">
                        Registrate
                   </a>
                    
                    <br>
                   
                </ng-template>
            </p-card>
            <p-card header="Escanea"  [style]="{ width: '460px', height: '400px'}">
                <ng-template pTemplate="header">
                    
                </ng-template>
                <p>
                    "Escanea los codigos que vienen en nuestros productos, estos te direccionarán a un formulario de registro de clientes.
                </p>
                <ng-template pTemplate="footer" >
                    
                    
                    <br>
                    <a [routerLink]="'/politica'" class="txt2">
                         Conozca aquí nuestra Política de privacidad
                    </a>
                </ng-template>
            </p-card>
            <p-card header="Ingresa a la Aplicación" subheader="" [style]="{ width: '460px', height: '400px'}">
                <ng-template pTemplate="header">
                    
                </ng-template>
                <p>
                    Conoce el estado de todas tus comisiones y los pagos realizados.
                </p>
                <ng-template pTemplate="footer" >
                    
                    
                    <br>
                    <a [routerLink]="'/politica'" class="txt2">
                         Ingresa Aqui!
                    </a>
                </ng-template>
            </p-card>
            
        </div>
        </div>
        <div class="flex-1 h-4rem  text-white font-bold text-center p-4 border-round"></div>
    </div>
    
</div>
</body>
<div>
    <footer>
        <section class="container-fluid footer_section">
           
            <p>Derechos reservados VITALIAH 2023 Selly Cash</p>
          </section>

    </footer>

</div>