<p-menubar class="p-mb-4">
    <div _ngcontent-rtw-c105="" class="grid flex-column grid-nogutter">
        <img _ngcontent-rtw-c105="" src="./assets/images/banner.png" width="100%" style="border-radius: 0.5%;"></div>  
    
                
</p-menubar>

<br>


    <div class="card">
        <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions">
            <ng-template let-product pTemplate="item">
                <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                    <div class="mb-3">
                        <img src="./assets/images/{{ product.image }}" [alt]="product.name" class="w-6 shadow-2" />
                    </div>
                    <div>
                        <a [routerLink]="product.category" class="txt2">
                            <h4 class="mb-1">{{ product.name }}</h4>
                        </a>
                        
                        <h6 class="mt-0 mb-3">{{ product.description }}</h6>
                       
                        
                    </div>
                </div>
            </ng-template>
            
        </p-carousel>
    </div>

<div>
    <footer>
        <section class="container-fluid footer_section">
           
            <p>Derechos reservados VITALIAH 2023 Selly Cash</p>
          </section>

    </footer>

</div>