<div class="col-12">
    <div class="p-inputgroup">
       
        <input type="text" [(ngModel)]="convenioText" pInputText placeholder="Nombre">   
        <button 
        pButton 
        type="button" 
        label="Nuevo Convenio" 
        class="p-button-outlined"
        (click)="crearNuevo()"
        
        >
    </button>      
    </div>
</div>
<div class="col-12">
<p-table [value]="convenio" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre Convenio</th>
            <th>Estado</th>
            <th>Acción</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-convenio>
        <tr>
            
            <td>{{convenio.covNombre}}</td>
            <td>{{convenio.cov_estado}}</td>
            <td>
                <button pButton pRipple type="button" icon="pi pi-times" class="p-button-outlined p-button-rounded p-button-primary"
                        (click)="delete(convenio.covId)"></button>
            </td>
            
        </tr>
    </ng-template>
</p-table>
</div>